extends ../index

block GAExperiment

  script#gascript1.
    function utmx_section(){}function utmx(){}(function(){var
    k='83066039-2',d=document,l=d.location,c=d.cookie;
    if(l.search.indexOf('utm_expid='+k)>0)return;
    function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
    indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
    length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
    '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
    '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
    '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
    valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
    '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
  
  script#gascript2.
    utmx('url','A/B');

block pageContent

  .bar.bar-header.bar-emotif
    h1.title.bar-title Emotif

  //- header-bar(title="'header'")

  //- content(has-header='true' has-footer='true' scroll='true')
  .scroll-content.has-header.has-tabs.overflow-scroll
    .list.card.card-shadowed.content-bottom-spacer(ng-model='video')
      block recommendContent

      //-   iframe.full-image(id='ytplayer' type='text/html' src="{{video.url}}" allowfullscreen="true" frameborder="0")
      //-   p
      //-     b {{video.caption}}
      //-     br
      //-     | Watch this funny video and you'll feel relaxed!
      //-   p.subdued {{video.likes}} people like you find this useful!

      //- For GA experiment
      //- .item.tabs.tabs-secondary.tabs-icon-left.item-bottom
      //-   a.tab-item#content-refresh-button
      //-     i.icon.ion-refresh
      //-     | Another
      //-   a.tab-item#content-like-button
      //-     i.icon.ion-thumbsup
      //-     | I like it
      //-   a.tab-item#content-better-button
      //-     i.icon.ion-heart
      //-     | I'm better
    .content-bottom-spacer
    //- a.tab-item#nav-select
    //-   i.icon.ion-ios7-sunny-outline
    //-   p Select
  .tabs.tabs-icon-top.tabs-foot
    a.tab-item#nav-select
      i.icon.ion-ios7-partlysunny-outline
      p Select Mood
    a.tab-item#nav-trend
      i.icon.ion-ios7-speedometer-outline
      p Mood Trend
    a.tab-item#nav-settings
      i.icon.ion-ios7-gear-outline
      p Settings

    //- a.tab-item
    //-   i.icon.ion-ios7-albums
    //-   p Content
    //- a.tab-item#nav-trend
    //-   i.icon.ion-ios7-speedometer-outline
    //-   p Trend
    //- a.tab-item#nav-settings
    //-   i.icon.ion-ios7-gear-outline
    //-   p Settings

block js
  script(src="/js/apple-locality.js")
  script(src="/js/content.js")
  