extends content

block recommendContent
  //
     Google Analytics Content Experiment code 
    script
      function utmx_section(){}function utmx(){}(function(){var
      k='82952690-1',d=document,l=d.location,c=d.cookie;
      if(l.search.indexOf('utm_expid='+k)>0)return;
      function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
      indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
      length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
      '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
      '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
      '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
      valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
      '" type="text/javascript" charset="utf-8"><\\/sc'+'ript>')})();
    script
      utmx('url','A/B');
    //
       End of Google Analytics Content Experiment code 
  .item.item-top
    //- p Remember the good old days?
    p Travel back to the past!
    
  .item.item-body.item-bottom
    div
      
      img.recphoto#fbphoto-photo
      p.recpost#fbphoto-content
        i.ion-refreshing 
        | Loading your Facebook posts...
      br
      p.recdate#fbphoto-date
      p.subdued
        label#like-number
        |  people likes this photo!
      
      

    //- p.subdued 
    //-   = like + ' people like you find this useful!'

block js
  script(src="/js/apple-locality.js")
  script(src="/js/photo-fb.js")
  script
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-48458837-2', 'emotif.herokuapp.com');
      ga('send', 'pageview');
  