extends content

block GAExperiment

  script.
    function utmx_section(){}function utmx(){}(function(){var
    k='83066039-2',d=document,l=d.location,c=d.cookie;
    if(l.search.indexOf('utm_expid='+k)>0)return;
    function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
    indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
    length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
    '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
    '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
    '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
    valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
    '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
  
  script.
    utmx('url','A/B');

block recommendContent

  .item.item-top
    p Check out this popular funny video!
    
  .item.item-body.item-middle
    p.video2-title
      b#video-title

    iframe.full-image(id='ytplayer', type='text/html', src='', allowfullscreen="true", frameborder="0")
    p
      | Another user comments on this video:
      br 
      div.video-comment#video-comment
    p.video-like
      label#like-number   
      |  people like this funny video!
    

  .item.item-body.item-bottom.item-card-button
    .row
      .col.col-33
        a.button.button-outline.button-positive.button-block.button-card#content-refresh-button Try Another
      .col.col-33
        a.button.button-outline.button-balanced.button-block.button-card#content-like-button I like it
      .col.col-33
        a.button.button-outline.button-assertive.button-block.button-card#content-better-button I'm better

block js
  script(src="/js/apple-locality.js")  
  script(src="/js/video2.js")
