extends content

block GAExperiment

  script.
    function utmx_section(){}function utmx(){}(function(){var
    k='83066039-2',d=document,l=d.location,c=d.cookie;
    if(l.search.indexOf('utm_expid='+k)>0)return;
    function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
    indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
    length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
    '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
    '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
    '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
    valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
    '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
  
  script.
    utmx('url','A/B');

block recommendContent

  .item.item-top
    p Why not try this out today?
    
  .item.item-body.item-middle
        
    iframe.full-image(id='ytplayer', type='text/html', src='', allowfullscreen="true", frameborder="0")
    p
      b#video-title
      br
      | Watch this funny video and you'll feel relaxed!
    p.subdued
      label#like-number   
      |  people like you find this useful!

  //- .item.tabs.tabs-secondary.tabs-icon-left.item-bottom
  //-     a.tab-item#content-refresh-button
  //-       i.icon.ion-refresh
  //-       | Another
  //-     a.tab-item#content-like-button
  //-       i.icon.ion-thumbsup
  //-       | I like it
  //-     a.tab-item#content-better-button
  //-       i.icon.ion-heart
  //-       | I'm better

block js
  script(src="/js/apple-locality.js")  
  script(src="/js/video.js")
